/* component : visually hidden - ============================================================================= - */
.visually-hidden {
  & {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    white-space: nowrap;

    @supports(clip-path: circle(0)) {
      clip-path: circle(0);
    }
  }
}